<!DOCTYPE html>
<html>
<body>

<style>
    body {
        background: black;
        color: lightcyan;
        margin-top: 10rem;
    }

    h1,p {
        text-align: center;
    }

</style>
<h1>This is not the page you are looking for...</h1>

<p>
    404 - page not found
</p>

</body>
</html> 