<%- include('./fragments/header.ejs') %>

 <main>
  <h2>Strona główna</h2>
  <p>Obydwie nazwy: aksolotl i ambystoma meksykańska są często stosowane w literaturze zamiennie, co może powodować nieporozumienia w interpretacji tych terminów, zwłaszcza, że w wielu językach nazwą axolotl również określana jest ambystoma meksykańska.
  </p>
 <p>
   W języku polskim termin aksolotl, w ścisłym znaczeniu, oznacza stan rozwoju osobniczego – charakterystyczne, wodne stadium larwalne (larwa neoteniczna[3]) kilku różnych gatunków płazów (niektóre źródła[4] przypisują ten stan tylko jednemu gatunkowi – ambystomie meksykańskiej), natomiast ambystoma meksykańska, zwana też aksolotlem meksykańskim, a czasem w skrócie aksolotlem[5], to nazwa konkretnego gatunku opisanego naukowo pod nazwą Ambystoma mexicanum – pospolitego w hodowlach amatorskich i laboratoryjnych.</p>
 </main>

<%- include('./fragments/footer.ejs') %>