<%- include('../../fragments/header.ejs') %>

<main>

    <%- include('../../fragments/mysql-error.ejs') %>
    <br>
    <p><a class="button-add" href="/camera">Powrót</a></p>

</main>


<%- include('../../fragments/footer.ejs') %>